

form {
    text-align: center
    

}

/*p {
    border-style: solid;
    display: block;
    width: 50%;
    height: auto;
    text-align: center;

}*/

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=button] {
    margin: 8px;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
  }
input[type=checkbox] {
    text-align: right;
    
}

.div1 {
    /*displayflex: flexdirection*/ 
}

.div2 {
    border-style: solid;
    display: block;
    width: 50%;
    height: auto;
    text-align: center;
}

