html, body {
  height: 100%;
  
}

body {
  background-color: rgb(69, 114, 186);
  background-image: url("https://freepngimg.com/thumb/artwork/59446-and-twitter-cartoon-black-white-drawing-bird.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  display: inline-block;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.containerr {
  border: 2px solid #dedede;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
/* Clear floats */
.containerr::after {
  content: "";
  clear: both;
  display: table;
}

.containerr img {
  float: left;
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.result-img {
  max-width: 40px;
  border-radius: 50%;
}

.time-right {
  float: right;
  color: #aaa;
}

#container {
  position: relative;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

#error {
  color: red;
  background-color: white;
  visibility: hidden;
  border: 1px solid;
  width: auto;
  margin-top: 15px;
}

.profile {
  background-color: white;
  height: auto;
  min-height: 100vh;
}

#friends {
  /* display: flex; */
  background-color: lightblue ;
  border: 2px solid black;
  width: 125px;
  height: auto;
  padding-bottom: 1px;
  padding-top: 7px;
  direction: column;
}

#test {
  display: flex;
  justify-content: center;
}

#friendTitle {
  text-align: center;
}

#wallprofile {
  text-align: center;
}

#messages {
  justify-content: center;
  align-items: center;
}

#postonwall {
  text-align: center;
}

#wall {
  border: 2px solid black;
  background-color: whitesmoke;
}

.wall-profile {
  float: center;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.friend-name {
  display: flex;
  background-color: white;
  font-size: x-large;
  border: 2px solid black;
  border-radius: 50%;
  padding: 20px;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  
}

.friend-div {
  justify-content: center;
  align-items: center;
  margin: 25px;

}

#logoutButton {
  display: flex;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  float: right;


}

#logoutButton:hover {
  background-color: lightgray;
}

#logoutIcon {
  justify-content: center;
  align-items: center;
}

#dropdown-button {
  float: right;
}

#top {
padding: 10px;
}

#searchTop {
  /* display: flex;
  align-items: center; */
  text-align: center;

}

.result {
  border: 2px solid black;
  margin: 10px;
  text-align: center;
  background-color: white;
}

#results {
  background-color: whitesmoke;
  border: 2px solid black;
}
 